<div>
    <h2 translate="fadsiiApp.location.home.title">Locations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="location.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="fadsiiApp.location.home.createLabel">
                        Create new Location
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'fadsiiApp.location.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="addressline1"><span translate="fadsiiApp.location.addressline1">Addressline 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="addressline2"><span translate="fadsiiApp.location.addressline2">Addressline 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city"><span translate="fadsiiApp.location.city">City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="statecode"><span translate="fadsiiApp.location.statecode">Statecode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="zippostcode"><span translate="fadsiiApp.location.zippostcode">Zippostcode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="fadsiiApp.location.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastmodifiedby"><span translate="fadsiiApp.location.lastmodifiedby">Lastmodifiedby</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastmodifieddatetime"><span translate="fadsiiApp.location.lastmodifieddatetime">Lastmodifieddatetime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="location in vm.locations track by location.id">
                    <td><a ui-sref="location-detail({id:location.id})">{{location.id}}</a></td>
                    <td>{{location.addressline1}}</td>
                    <td>{{location.addressline2}}</td>
                    <td>{{location.city}}</td>
                    <td>{{location.statecode}}</td>
                    <td>{{location.zippostcode}}</td>
                    <td translate="{{'fadsiiApp.Status.' + location.status}}">{{location.status}}</td>
                    <td>{{location.lastmodifiedby}}</td>
                    <td>{{location.lastmodifieddatetime | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="location-detail({id:location.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="location.edit({id:location.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="location.delete({id:location.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
