
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOrganizationlocationLabel" translate="fadsiiApp.organizationlocation.home.createOrEditLabel">Create or edit a Organizationlocation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.organizationlocation.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.organizationlocation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="fadsiiApp.organizationlocation.isprimary" for="field_isprimary">Isprimary</label>
            <input type="checkbox" class="form-control" name="isprimary" id="field_isprimary"
                    ng-model="vm.organizationlocation.isprimary"
                     />
            <div ng-show="editForm.isprimary.$invalid">
                <p class="help-block"
                    ng-show="editForm.isprimary.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="fadsiiApp.organizationlocation.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.organizationlocation.status" id="field_status" required>
                <option value="Active" translate="fadsiiApp.Status.Active">Active</option>
                <option value="Pending" translate="fadsiiApp.Status.Pending">Pending</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="fadsiiApp.organizationlocation.lastmodifiedby" for="field_lastmodifiedby">Lastmodifiedby</label>
            <input type="text" class="form-control" name="lastmodifiedby" id="field_lastmodifiedby"
                    ng-model="vm.organizationlocation.lastmodifiedby"
                    required ng-maxlength="50" />
            <div ng-show="editForm.lastmodifiedby.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastmodifiedby.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.lastmodifiedby.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="fadsiiApp.organizationlocation.lastmodifieddatetime" for="field_lastmodifieddatetime">Lastmodifieddatetime</label>
                <div class="input-group">
                    <input id="field_lastmodifieddatetime" type="text" class="form-control" name="lastmodifieddatetime" datetime-picker="{{dateformat}}" ng-model="vm.organizationlocation.lastmodifieddatetime" is-open="vm.datePickerOpenStatus.lastmodifieddatetime"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastmodifieddatetime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.lastmodifieddatetime.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastmodifieddatetime.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.lastmodifieddatetime.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="fadsiiApp.organizationlocation.organization" for="field_organization">Organization</label>
            <select class="form-control" id="field_organization" name="organization" ng-model="vm.organizationlocation.organization" ng-options="organization as organization.name for organization in vm.organizations track by organization.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="fadsiiApp.organizationlocation.location" for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" ng-model="vm.organizationlocation.location" ng-options="location as location.addressline1 for location in vm.locations track by location.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
