<div>
    <h2 translate="fadsiiApp.organizationlocation.home.title">Organizationlocations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="organizationlocation.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="fadsiiApp.organizationlocation.home.createLabel">
                        Create new Organizationlocation
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'fadsiiApp.organizationlocation.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isprimary"><span translate="fadsiiApp.organizationlocation.isprimary">Isprimary</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="fadsiiApp.organizationlocation.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastmodifiedby"><span translate="fadsiiApp.organizationlocation.lastmodifiedby">Lastmodifiedby</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastmodifieddatetime"><span translate="fadsiiApp.organizationlocation.lastmodifieddatetime">Lastmodifieddatetime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="organization.name"><span translate="fadsiiApp.organizationlocation.organization">Organization</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="location.addressline1"><span translate="fadsiiApp.organizationlocation.location">Location</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="organizationlocation in vm.organizationlocations track by organizationlocation.id">
                    <td><a ui-sref="organizationlocation-detail({id:organizationlocation.id})">{{organizationlocation.id}}</a></td>
                    <td>{{organizationlocation.isprimary}}</td>
                    <td translate="{{'fadsiiApp.Status.' + organizationlocation.status}}">{{organizationlocation.status}}</td>
                    <td>{{organizationlocation.lastmodifiedby}}</td>
                    <td>{{organizationlocation.lastmodifieddatetime | date:'medium'}}</td>
                    <td>
                        <a ui-sref="organization-detail({id:organizationlocation.organization.id})">{{organizationlocation.organization.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="location-detail({id:organizationlocation.location.id})">{{organizationlocation.location.addressline1}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="organizationlocation-detail({id:organizationlocation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="organizationlocation.edit({id:organizationlocation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="organizationlocation.delete({id:organizationlocation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
